@font-face {
  font-family: "Outfit";
  src: url(fonts/Outfit-VariableFont_wght.ttf);
}

body {
  font-family: "Outfit";
  font-size: 15px;
  font-weight: 400;

  background-color: hsl(212, 45%, 89%);
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 26px;
}

p {
  color: hsl(220, 15%, 55%);
}

main.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;

  max-width: 320px;
  margin: auto;
  margin-top: 150px;

  padding: 15px;

  text-align: center;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

main img {
  border-radius: 10px;

  width: 100%;
}

footer div.attribution {
  margin-top: 15px;
}
